    *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    }
    .background {
        width: 100%;
        height: 100vh;
        z-index: -1;  
    }  
    
    .head {
        background-color: #201e1e63;
        justify-content: space-around;
        display: flex;
        position: fixed;
        z-index: 1;
        width: 100%;
        margin: auto;
        align-items: center;
        padding: 10px;
        text-decoration: none;
    }
    .logo{
        text-decoration: none;
        color: #f9004d;
        font-weight: 700;
        font-size: 40px;
    }
    .firstCol a {
        display: inline-block;
        color: #f9004d;
        text-decoration: none;
        font-size: 20px;
        font-weight: 540;
        padding-left: 30px;
    }
    .firstCol a:hover{
        color:#fff;
        font-weight: 600;
    }
    .logo :hover{
        color:#fff;      
    }
    .content{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
        z-index: 0;
    }
    @media(max-width:767px){
        .head{
            padding: 20px;
            
        }
        .firstCol  {
            width: 90%; 
        }
        .firstCol a{
            font-size: 15px;
        }
        .logo{
            width: 10%;
            font-size: 20px;
            
        }
      
    }
    .content h1 {

        font-size: 60px;
        margin-top: 80px;

    }
    
    .content p{
        margin: 20px auto;
        font-weight: 200;
        line-height: 25px;
        word-spacing: 5px;

    }
    .button,
    .button1{
    display: inline-block;
    margin-right: 10px;
    
    text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
    }
    .button{
        background-color:#f9004d;
        color: white;
    }
    .button1{
        background-color: transparent;
        border: 2px solid #f9004d;
        color: white;

    }
    .content .button1:hover{
        background-color:#f9004d;
        cursor: pointer;
    }
    .content .button:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }
    @media(max-width:767px){
        .content h1{
            font-size:30px;

        }
        .content p {
            
            padding-top: 15px;
            
        }

    }
    
    .Courses{
        background: #252525;
        width: 100%;
        padding: 100px 0px;
        margin-top: -50px;
        
    }
    .title h2{
        color: white;
        font-size: 60px;
        width: 1100px;
        margin: 30px auto;
        text-align: center;
    }
    @media(max-width:767px){
        .title h2{
            font-size: 30px;
            text-align: center;
            width: 100%;
        }

       
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 400px;
    }
    .card{
        height: 300px;
        width: 280px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    @media(max-width:767px){
      .card{
          
          
          padding: 5px 10px ;
          
      }
      .box{
          display: block;
          padding-top: 20px;
          margin-left: 35px;
      }
    }
    .card i{
        font-size: 50px;
        display: block;
        text-align: center;
        margin: 25px 0px;
        color: #f9004d;
    }
    .card h3{
        color: white;
        
        font-size: 20px;
        margin-bottom: 15px;
    }
    .pra p{
        color: #fcfc;
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 25px;
        word-spacing: 1.7px;
        letter-spacing: 1.2px;

    }
    .card .button{
        background-color:#f9004d;
        color: white;
        text-decoration: none;
        border: 2px solid transparent;
        font-weight: bold;
        padding: 9px 22px;
        border-radius: 30px;
        transition: .4s; 
    }
    .card .button:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;
    }
    .about{
        width: 100%;
        padding: 100px 0px;
        background-color: #252525;
    }
    .about .about-imag{
        height: auto;
        width: 400px;
    }

    .about-text{
        width: 550px;
    }
    
    .main{
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .about-text h2{
        color: white;
        font-size: 75px;
        text-transform: capitalize;
        margin-bottom: 20px;
    }
    .about-text h5{
        color: white;
        letter-spacing: 2px;
        font-size: 22px;
        margin-bottom: 25px;
        text-transform: capitalize;
    }
    .about-text p{
        color: #fcfc;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 18px;
        margin-bottom: 45px;
    }
   
    .about-text h5 span{
        color:#f9004d ;
        
    }
    @media(max-width:767px){
        .about .about-imag{
            background-color: red;
            width: 370px;
            height: 300px;
            margin-top:-100px ;
        }
        .about .about-h2{
            font-size: 50px;
            margin-top: 80px;
        }
        .about .about-p{
            width: 380px;
            margin-top: 50px;
        }
        .about .about-h5{
            margin-top: 50px;
        }
    }
    
    .services{

        background: #252525;
        width: 100%;
        padding: 100px 0px;

    }
    .box1{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 200px;
    }
    .card1{
        height: 150px;
        width: 250px;
        padding: 20px 35px;
        background: #191919;
        border-radius: 20px;
        margin: 15px;
        position: relative;
        overflow: hidden;
        text-align: center;
    }
    .card1 i{
        font-size: 50px;
        display: block;
        text-align: center;
        margin: 25px 0px;
        color: #f9004d;
    
    }
    @media(max-width:767px){
        .title #service{
            
            font-size: 50px;
            
        }
        .box1{
            display: block;
          padding-top: 20px;
          
          margin-left: 20px;

        }
        .card1{
            margin-top: 5px;
            height: 200px;
            width: 300px;
            padding: 5px 10px ;
        }

    }
    
    h3{
        color: white;
        font-size: 28px;
        margin-bottom: 15px;
    }
    .box1 .card1:hover{
        background-color: transparent;
        border: 2px solid #f9004d;
        cursor: pointer;

    }
    .footer{
        width: 100%;
        height: 300px;
        background-color: #141414;
        text-decoration: none;
        color: #fff;
        text-align: center;
        padding: 20px auto;


    }
    .footer .tit1{
        font-weight: 700;
        font-size: 30px;
        padding-top: 40px;

    }
    .footer .tit2{
        font-weight: 400;
        font-size: 20px;
        padding-top: 30px;

    }
    .footer .social {
        padding-top: 15px;
    }
    .footer .social  a {
        color:#f9004d;
        padding-top: 20px;
        padding-right: 10px;
        font-size: 25px;
        font-weight: 500;
        border: 2px solid transparent;
        
    }
    .footer .end {
        font-size: 20px;
        font-weight: 300;
        color: #f9004d;
        padding-top: 30px;
    }
    .footer .social  a :hover{
        transform: scale(1.3);
        transition: .3s;
        color: #fff;

    }